/* css navbar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 0 1px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items:center ;
}

nav ul li {
    margin: 25px;
    font-size: 25px;
    
}

nav ul li .active{
    color: white;
    font-weight: bold;
}

nav ul li:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius:15px;
}

.nav-left{
    /* background-color: aqua; */
    flex: 50%;
}

.nav-right{
    /* background-color: brown; */
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a{
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}
.nav-right a:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
}
/* project css */
.project-form{
    /* background-color: ; */
    width: 400px;
    border: 5px solid brown;
    border-radius: 20px;
    box-shadow: 7px 7px brown;
    margin: 25px auto;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
}
.project-form .form-container{
    width: 300px;
}
.form-container input, label, textarea{
    color: white;
}
.input-image-group p {
    color: white;
    /* border: 1px solid black; */
    background-color: black;
    padding: 5px 15px;
    border-radius: 10px;
}
.project-form .form-container h1{
    text-align: center;
    margin-bottom: 40px;
}
.project-form form label{
    font-size: 20px;
    font-weight: 400;
}

.input1 .nama input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #f4f3f3;
    border: 1px solid brown;
    border-radius: 8px;
    resize: none;
}
.left2 input{
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #f4f3f3;
    border: 1px solid brown;
    border-radius: 8px;
    resize: none;
}
.right2 input{
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #f4f3f3;
    border: 1px solid brown;
    border-radius: 8px;
    resize: none;
}
.input1 textarea{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #f4f3f3;
    border: 1px solid brown;
    border-radius: 8px;
    resize: none;
}
.input1 textarea{
    height: 150px;
}
.checkbox{
    display: flex;
}
.checkbox .right{
    margin-left: 25px;
}
.upload{
    margin-top: 20px;
}
.input-image-group{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 5px;
    background: #f4f3f3;
    border: 1px solid brown;
    border-radius: 8px;
    cursor: pointer;
}
.input-image-group label p{
    font-size: 15px;
}
.input-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.klik button{
    background-color: brown;
    color: white;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
}
hr{
    border: 1px solid brown;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.kelas1{
    flex-wrap: wrap; 
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
  

.kelas2{
    width: 500px;
    padding: 15px 25px;
    margin: 20px auto;
    border: 1px solid brown;
    border-radius: 5px;
    box-shadow: 5px 5px 5px brown;
}
.kelas3 img{
    width: 100%;
    border: 1px solid brown;
    border-radius: 10px;
}
.kelas4 p{
    font-size: 15px;
    font-weight: 40px;
    margin-bottom: 20px;
}
.icon{
    display:flex ;
    margin-bottom:10px ;
    /* margin-left: 15px; */
    font-size: 25px;
    width: 50px;
    height: 50px;
}
.icon{
   margin-left: 0;
}
.icon img{
    margin: 0 15px;
}
.kelas5 {
    display: flex;
}
.kelas5 .btn-left{
    flex: 50%;
    /* background-color: aqua; */
}
.kelas5 .btn-left button{
    background-color: black;
    color: white;
    padding: 5px 100px;
    border: 1px solid rgb(87, 84, 84);
    border-radius: 5px;
}
.kelas5 .btn-right{
    flex: 50%;
    /* background-color: aquamarine; */
}
.kelas5 .btn-right button {
    background-color: black;
    color: white;
    padding: 5px 115px;
    border: 1px solid rgb(87, 84, 84);
    border-radius: 5px;
}

#barsMenu{
    display: block;
}

.bars{
    list-style: none;
    font-size: 23px;
    display: none;
}
.bars a{
    text-decoration: none;
    color: white;
    background-color: #9a9a9a;
    padding: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bars .bars-active{
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width : 428px){
    .item-collapse{
        display: none;
    }
    .project{
        width: 100%;
    }
    .project-form .form-container{
        width: 100%;
    }
    .project .project-form{
        width: 70%;
    } 
    .kelas1{
        width: 100%;
    }
    .kelas2{
        width: 80%;
    }
    .kelas3{
        width: 70%;
    }
    .kelas2 h1{
        font-size: 15px;
    }
    .kelas2 p{
        text-align: justify;
        font-size: 10px ;
    }
    .kelas5  {
        display: block;
        margin-left: 50px;
    }
    .btn-right{
        margin-right: 70px;
        justify-content: center;
    }
    
}