<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail-Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/project-detail.css">
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li>
                    <img src="/image/coding.gif" alt="logo">
                </li>
                <li>
                    <a  href="/home">Home</a>
                </li>
                    <li><a class="active" href="/upload-project">Add Project</a>
                </li>
            </ul>

        </div>
        <div class="nav-right">
            <a href="/contact">Contact Me</a>

        </div>
    </nav>

    <div style="background-color: #dbdbdb;width: 100vw; height: 100vh;">
        <div style="padding: 20px;">
            <h1 style="text-align: center; margin-top: 30px; margin-bottom: 15px;">Detail Project</h1>
            <div class="contents">
                <div class="left">
                    <img src="/image/coding.gif" alt="">
                </div>

                <div class="right" style="margin:0 0 0 100px; ">
                    <h5 style="font-size: 25px; font-weight: bold;">Duration</h5>                 
                        <div class="icon-date" 
                        style="display: flex;
                        align-items: center;
                        ">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p id="durasi" style="margin-left: 15px;">12 Jan 2023 - 11 Feb 2023</p>
                        </div>
    
                        <div class="icon-clock" 
                        style="display: flex; align-items: center;
                        ">
                            <i class="fa-solid fa-clock"></i>
                            <p style="margin-left: 15px;">1 month</p>
                        </div>

                    <div class="content2">
                    <h5 style="font-size: 25px; font-weight: bold;">Technologies</h5>

                    <div class="tecno" style="display: flex;">
                        <div class="tecno-left">
                            <div class="icon-kiri" >
                                <div style="display: flex;">
                                    <img src="/image/node.png" alt="" style="width: 50px;" />
                                    <p  style="margin-left: 15px;">Node Js</p>
                                </div>

                                <div style="display: flex; margin-top: 30px;">
                                    <img src="/image/nextjs.png" alt="" style="width: 50px;" />
                                    <p  style="margin-left: 15px;">Next Js</p>
                                </div>
                                
                            </div>

                        </div>

                        <div class="tecno-right" style="margin-left: 100px;">
                            <div class="icon-kanan">
                                <div style="display: flex;">
                                    <img src="/image/react.png" alt="" style="width: 50px;" />
                                    <p  style="margin-left: 15px;">React</p>
                                </div>
                                <div style="display: flex; margin-top: 30px;">
                                    <img src="/image/type.png" alt="" style="width: 50px;" />
                                    <p  style="margin-left: 15px;">Type Script</p>
                                </div>

                            </div>

                        </div>
                        
                    </div>
                </div>

                </div>


                
            </div>


            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, natus, corporis error voluptatum dolore quam, deleniti dolorem temporibus dolor alias ex velit magni sequi? Minus quas asperiores deleniti nemo cumque? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis non amet ea doloremque cum, nobis rerum eius, et perferendis unde quam perspiciatis doloribus mollitia error. Dolores atque blanditiis quos velit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum deserunt quasi, labore quaerat iste totam dolore culpa veritatis aliquam deleniti pariatur hic repellat numquam, magni ipsum. Tempore corrupti quae distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consequatur omnis sit fuga. Dolore voluptas ducimus suscipit repellat accusantium vero consectetur voluptatum deleniti odio eligendi vel, odit animi optio sequi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis necessitatibus veniam vero at blanditiis voluptatum aut, sunt tempora, rerum enim nesciunt voluptate nam repellat est, accusamus ut aspernatur aperiam libero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nulla exercitationem atque ratione minus tempore dignissimos fuga molestias eaque! Culpa provident unde nam consequuntur. Debitis quae ipsum earum nostrum reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis consequuntur voluptates ab alias facilis, cumque ducimus iste laborum consectetur architecto minus molestias nostrum adipisci laudantium. Velit consequatur sint aliquid quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam amet reprehenderit nobis obcaecati ex tempore delectus labore adipisci error vitae natus, sint ut repudiandae quibusdam debitis fugiat omnis impedit quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quisquam mollitia omnis sit, perferendis repudiandae corrupti porro molestias veniam harum voluptas ea quia natus beatae? Neque dolore nam beatae voluptatem?
            </p>
        </div>
    </div>

    <script src="/js/project.js"></script>
</body>
</html>