/* css navbar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* color: white */
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 0 1px;
}
.nav-left ul li a {
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    align-items:center ;
}

nav ul li {
    margin: 25px;
    font-size: 25px;
    
}

nav ul li .active{
    color: white;
    font-weight: bold;
}

nav ul li:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius:15px;
}

.nav-left{
    /* background-color: aqua; */
    flex: 50%;
}

.nav-right{
    /* background-color: brown; */
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a{
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}
.nav-right a:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
}


/* contents */
.contents{
    display: flex;
    /* align-items: center; */
}